__pycache__
data/*
visualization/*
tensor_io/build/*
experimental/one_sided_comm_bench/build/
experimental/graphblas_io/build/
experimental/openshmem_test/build/
!experimental/openshmem_test/build/jobscript.sh
!experimental/one_sided_comm_bench/build/jobscript.sh
tensors/*
.rendered*
*.cpython*
exafac/cpp_ext/build
.ipynb_checkpoints/*
*.swp
.vscode/*
tommyds
sparsehash
cuckoofilter
sparsehash-c11
libcuckoofilter.a
GraphBLAS
oneTBB
analysis/figures/*
slurm*
!data/.empty
!tensors/.empty
!tensors/frostt_tensors.txt
